.navigation .topbar-wrapper {
   position: relative;
   height: 40px;
   margin: 5px 0 15px 0;
}

.navigation .topbar-wrapper .topbar {
   position: absolute;
}

.navigation .topbar-wrapper .topbar .topbar-inner {
   padding: 0 20px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

.navigation .topbar h3 {
   font-family: 'Sorts Mill Goudy', serif;
   color: #ccc;
   text-shadow: #000 -1px -1px 0;
   font-weight: normal;
}

#editor {
   position: relative;
   height: 300px;
}

.application .editors .editor {
  display:none;
}

.application .editors .editor.active {
  display:block;
}

.application .editors .editor.inactive {
  display:none;
}

.application .controls {
   text-align: right;
   margin: 10px 30px;
}

.application h3 {
   font-family: 'Sorts Mill Goudy', serif;
   text-shadow: #fff 1px 1px 0;
   font-weight: normal;
}

.application code {
  background-color: transparent;
  line-height: 17px;
}